* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  font-family: Arial, sans-serif;
}

.left_content {
  width: 8%;
  height: 100%;
  background-color: black;
}
.side_menu_item {
  color: rgb(170, 170, 170);
  font-weight: bold;
  padding: 12px;
  border-bottom: 1px solid rgb(92, 92, 92);
}
.side_menu_item:nth-child(1) {
  color: white;
}
.side_menu_item:hover {
  background-color: rgb(92, 92, 92);
  color: white;
}

.right_content {
  width: 92%;
  height: 100%;
}
.right_content_image {
  display: flex;
  height: 180px;
}
.right_content_image img {
  margin: auto;
}
.right_content_des {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  align-items: center;
  background-color: rgb(239, 239, 239);
}
.right_content_des_title {
  font-weight: bold;
  margin-top: 36px;
}
.right_content_des_para {
  margin: 24px 240px;
  text-align: center;
}
